<%- include('home') %>

<h2>Giới Thiệu</h2>
<p>Đây là trang giới thiệu.</p>
<p>Đây là trang giới thiệu.</p>

<p>Đây là trang giới thiệu.</p>

<p>Đây là trang giới thiệu.</p>

<p>Đây là trang giới thiệu.</p>

<p>Đây là trang giới thiệu.</p>

<p>Đây là trang giới thiệu.</p>

